.user-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  overflow-y: auto;
  height: calc(100vh - 190px);
}

.create-group-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-top: -70px;
}

.create-group-wrapper,
.list-of-added-participants {
  height: calc(100vh - 420px);
  padding: 10%;
  margin-top: 20px;
}


.users-container,
.users-container-added {
  overflow-y: auto;
  height: calc(65vh - 142px);
  padding-right: 10px;
  border-radius: 10px;

}
