.channel-container {
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

.channel-container h2 {
  margin-left: 100px;
}

.messages-container {
  background-color: #eae9e9;
  overflow-y: auto;
  padding: 10px;
  width: 600px;
  margin: 0 auto;
  height: 500px;
}

